/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */

/* 
If you want to add partials, use Sass Modules via @use:
@use 'variables';

Usage: partial-name.variable/mixin/function-name:
background: variables.$primary-color;
*/

@use "reset";
@use "variables";
@use "mixins";

/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: #EBE0CC;
	font-family: variables.$main-font;
	overflow:scroll;
}

/* 2. Content ================================= */


.the-mega-grid {
	width: 100%;
	display: grid;
	$one24th: 1vw/24*100;
	grid-template-rows: repeat(24, $one24th);
	grid-template-columns: repeat(24, $one24th);
	

	.logo {
		grid-column: 1/4;
		grid-row: 1/4;
		background: gray;	
	}
	.nav-1 {
		grid-column: 4/7;
		grid-row: 1/3;
		background: #333;
	}
	.nav-2 {
		grid-column: 7/10;
		grid-row: 1/3;
		background: #444;
	}
	.nav-3 {
		grid-column: 10/13;
		grid-row: 1/3;
		background: #555;
	}
}



/*
header{
	// background: white;
	// margin: 0 auto;
	// padding: 0;
	width: 100%;
	height:6vh;
	position: relative;
	border-bottom: black solid 2px;
	
	
	.logo{
		width: 2em;
		// margin: 0 auto;
		margin-left:10px;
		
		
	}
	#home-link{
		text-decoration: none;
		display: flex;
		flex-direction: row;
		color: black;
		
		justify-content: flex-start;
		align-items: flex-end;
		position: absolute;
		top: 20%;
    	left: 5%;
		.icons{
			max-width: 24px;
			// margin-top: 5px;
			@include mixins.bp-medium{
				margin-right:.5em ;
			}
		}
		
	}
	


	.header-menu{ // the hamburger and nav parent
		
		z-index: 99;
		position: absolute;
		top: 0%;
		right: 0%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		.nike-header-icon-container{
			z-index: 100;
			margin: 5px;
			.icons{
				margin-left: 10px;
			}
			
		}
		
		#header-menu{
			display: none;
		}
			
		label {
			margin-right: 2em;
    		margin-top: 1em;
			span{
				cursor: pointer;
				display: block;
				width: 2em;
				height: .15em;
				// border-radius: 15px;
				background: rgb(0, 0, 0);
				position: relative;
				transform-origin: center center;
				transition: transform 250ms ease;
				margin:.2em;
				&:nth-of-type(2) {
					width: 1em;
					height: .2em;	
				}
				@include mixins.bp-medium{
					display: none;
				}
				

			}
		}
		#header-menu:checked ~ label {
			span {
				background: rgb(0, 0, 0);

				&:nth-of-type(1) {
					top: 25%;
					transform: rotate(-45deg);	
				}
				&:nth-of-type(2) {
					
					opacity: 0;	
				}
				&:nth-of-type(3) {
					right: 0%;
					top: -24%;
					transform: rotate(45deg);	
				}
				
			}
			
		}
		nav{
			// display: none;
			background: black;
			background-image: url(/dist/img/tent.png);
			background-repeat: no-repeat;
			background-position: bottom right;
			background-position-x:80% ;
			position: absolute;
			top: 135%;
			right: 0;
			width: 100vw;
			z-index: -1;
			height: 0vh;
			transition:  .5s;
			overflow: hidden;
			@include mixins.bp-medium{
				overflow: visible;
				top: 35%;
    			right: 100%;
				width: 60vw;
			}

			ul{
				list-style: none;
				text-align: left;
				margin-top: 4em;
				margin-left: 2em;
				@include mixins.bp-medium{
					display: flex;
    				flex-direction: row;
					text-align: center;
					margin-top: 1.5em;
					align-items: center;
					justify-content: flex-end
					

				}
				>li{
					margin-bottom: 2em;
					a{
						color: white;
						text-decoration: none;
						font-weight: 400;
						font-size: 1.5em;
						letter-spacing: .2em;
						text-transform: uppercase;
						&:hover{
							color: rgb(130, 130, 130);
							transition: ease-in-out .25s;
							@include mixins.bp-medium{
								
								color: rgb(130, 130, 130);
							}
						}
						@include mixins.bp-medium{
							font-size: 1em;
							margin-right: 1em;
							color: variables.$black;
							
						}
						@include mixins.bp-large{
							
							margin-right: 2em;
						}
					}
				}
			}
		}
		#header-menu:checked ~ nav {
			display: block;
			height: 45vh;
		}
		
	}


	.red-block{
		background-color: variables.$circus;
		width: 65vw;
		height: 5.7vh;
		margin:0 auto;
		border-left:black solid 2px ;
		border-right:black solid 2px;
	}
	
}
.hero-container{
	display: grid;
	grid-template-columns: 3em 1fr 3em;
	grid-template-rows: 3em 1fr 3em;
	&__star-top,
	&__star-bottom{
		display: flex;
		flex-direction: row;
		justify-self: center;
		border:black solid 2px;
		
		img{
			width:2.3em;
			height: 2em ;
			margin:.5em 2em .5em 2em;
		}
	}
	&__star-top{
		grid-column: 2;
		grid-row: 1;
		border-top:none;
	}
	&__star-bottom{
		grid-column: 2;
		grid-row: 3;
	}
	h1{
		grid-column: 2;
		grid-row: 2;
		height: 20vh;
		
		margin: 1em auto;
		font-size: 4em;
		font-weight: 200;
		text-align: center;
		span{
			
			&:nth-of-type(1) {
				font-size: .8em;	
			}
			&:nth-of-type(2) {
				font-size: .7em;	
			}
		}

		
	}
	&__red-block-one,
	&__red-block-two{
		border:black solid 2px;
		background-color: variables.$circus;
		width: 10vw;
		margin:0 auto;
		border-left:black solid 2px ;
		border-right:black solid 2px;
	}
	&__red-block-one{
		grid-column: 1;
		grid-row: 2;
	}
	&__red-block-two{
		grid-column: 3;
		grid-row: 2;
	}
	
}
.main-container__home{
	
	section{
		display: grid;
		grid-template-columns: 3em 1fr 1fr 3em;
		grid-template-rows:  100px 100px;
		.main-container__red-block-one,
		.main-container__red-block-two{
			// border:black solid 2px;
			background-color: variables.$circus;
			width: 10vw;
			height: 6.3em;
			margin:0 auto;
			border-left:black solid 2px ;
			border-right:black solid 2px;
		}
		&__red-block-one{
			grid-column: 1;
			grid-row: 1;
			border:black solid 2px ;
		}
		&__red-block-two{
			grid-column: 4;
			grid-row: 3;
			border:black solid 2px ;
		}
		figure{
			img{
				width:12.5em;
				border:black solid 2px ;
				border-top: none;
			}
			
			grid-column: 2;
			grid-row: 1;
			
			border-top:none;
		}
		h2{
			font-size: 8em;
			font-weight: 200;
			justify-self: center;
			grid-column:3 ;
			grid-row: 1/2;
			place-self: center center;
			margin-top:1em;
			
		}
	}
	#sectionB,
	#sectionD,
	#sectionF{
		h2{
			grid-column: 2;
			grid-row: 1/2;
		}
		figure{
			grid-column: 3;
			grid-row: 1;
			border-top:none;
		}
		
	}

	
	
	
}
*/